artifacts/
cache*/
node_modules/
typechain-types/
**/.DS_Store
out/
**/.env

# Ignores development broadcast logs
broadcast/**/31337/
broadcast/**/run-*.json
broadcast/**/dry-run/
!broadcast/**/*-latest.json